body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
.form-container {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}

#actualizar {
    background-color: rgb(255, 82, 0);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.actualizar:hover{
    background-color: rgb(0, 38, 250);
}


header {
    background-color: rgb(0, 38, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
}

.menu {
    color: white;
}

.dropdown span {
    color: rgb(255, 82, 0)
        /* Color naranjo */
}

.logo img {
    width: 25px;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 38, 250);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: rgb(0, 38, 250);
}

.dropdown:hover .dropdown-content {
    display: block;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    background-color: rgb(0, 38, 250);
    margin-top: auto;
}

.footer-column {
    width: 30%;
    text-align: left;
}

.footer-column h4 {
    margin-bottom: 1%;

}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li a {
    text-decoration: none;
    color: whitesmoke;
}
button[type="submit"] {
    background-color: rgb(0, 38, 250);
    color: white;
    cursor: pointer; /* Cambia el cursor a la forma de un puntero */
    transition: background-color 0.3s; /* Agrega transición para el efecto hover */
}

button[type="submit"]:hover {
    background-color: rgb(0, 20, 150);
}