body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Color de fondo de la página */
}

.container {
    background-color: rgb(0, 38, 250);
    border-radius: 15px;
    padding: .5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 25%;
    height: 29.2%;
    max-width: 600%;
}

form {
    text-align: center;
}

h1 {
    color: #ffffff;
}

.form-label {
    color: #ffffff;
    display: block;
    margin-bottom: 1%;
}

.form-control {
    width: 100%;
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.btn-primary {
    background-color: rgb(0, 38, 250);
    color: #ffffff;
    padding: 1.8% 7%;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    background-color: rgb(255, 82, 0);
}

.alert-danger {
    color: #fff;
    background-color: #e74c3c;
    padding: 2%;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
}
