body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Color de fondo de la página */
}

.center {
    text-align: center;
}

.container {
    background-color: rgb(0,38,250); /* Color blanco para el contenedor */
    border-radius: 15px; /* Bordes redondeados al 10px */
    padding: 8%; /* Aumentar el espaciado interno para el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el contenedor */
    width: 100%; /* Ancho del contenedor */
}

form {
    text-align: center; /* Centrar el formulario */
}

h1 {
    color: #ffffff; /* Color del título */
}

.form-label {
    color: #ffffff; /* Color de la etiqueta del formulario */
    display: block;
    margin-bottom: 5%; /* Espaciado inferior para la etiqueta */
}

.form-control {
    width: 80%;
    padding: 2.5%;
    border: 1px solid #000000; /* Borde del input */
    border-radius: 10px; /* Bordes redondeados del input */
    box-sizing: border-box;
    margin-bottom: 8%; /* Espaciado inferior para el input */
}

.btn-primary {
    background-color: rgb(0,38,250); /* Color azul para el botón */
    color: #ffffff; /* Color del texto del botón */
    padding: 2.8% 7%; /* Ajustar el padding del botón */
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.btn-primary:hover {
    background-color: rgb(255,82 ,0); /* Cambiar color al pasar el ratón */
}