header {
    background-color: rgb(0,38,250);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajusta la propiedad z-index según sea necesario para que el encabezado esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra si lo deseas */
 }
 header img {
  width: 100px; /* Tamaño fijo para el logo en el header */
  height: auto; /* Mantener la proporción original */
  max-width: 100%; /* No exceder el 100% del contenedor */
}
.navbar {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-right: 10px; /* Ajusta el margen entre el dropdown y el botón home según tus preferencias */
}

.dropdown-content {
  display: none;
  /* Resto de tus estilos para el dropdown */
}

.text-center{
  display: inline-block;
    background-color: rgb(255,82 ,0 );
    padding: 1% 8%; 
    border-radius: 20px; 
    color: white;    
}
 .menu {
    color: white;
 }
 header p {
  color: white; /* Puedes usar cualquier color en formato hexadecimal, RGB, nombre, etc. */
 }
 .table-responsive {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

.table-responsive th {
  background-color: #f0f0f0;
}

 .dropdown span {
   color: white /* Color naranjo */ 
}

.logo a {
    color: rgb(255,82 ,0 ); /* Cambia el color del texto del enlace "Iniciar sesión" a naranja */
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

.logo a:hover {
    text-decoration: none; /* Elimina el subrayado al pasar el ratón sobre el enlace "Iniciar sesión" */
}

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: rgb(0,38,250);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
/* Estilos para los enlaces con clase btn-delete y btn-edit */
.btn-delete,
.btn-edit {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los enlaces, ajusta según tu preferencia */
  text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
  padding: 5px 10px; /* Ajusta el espaciado interno según tus preferencias */
  color: #fff; /* Color del texto */
  background-color: #dc3545; /* Color de fondo para borrar (rojo) */
  border: 1px solid #dc3545; /* Borde para resaltar el enlace */
  border-radius: 5px; /* Esquinas redondeadas */
}
.video-title a {
  text-decoration: none; /* Elimina el subrayado */
  color:rgb(0,38,250); /* Cambia el color del texto si lo deseas */
}

.btn-edit {
  background-color: #007bff; /* Color de fondo para editar (azul) */
  border-color: #007bff; /* Borde para resaltar el enlace */
}

/* Estilos para los íconos dentro de los enlaces */
.btn-delete i,
.btn-edit i {
  margin-right: 5px; /* Espacio entre el ícono y el texto, ajusta según tu preferencia */
}

/* Cambio de color cuando se pasa el mouse sobre el enlace */
.btn-delete:hover,
.btn-edit:hover {
  background-color: #c82333; /* Cambia el color de fondo en el hover para borrar */
  border-color: #c82333; /* Cambia el color del borde en el hover para borrar */
}

.btn-edit:hover {
  background-color: #0056b3; /* Cambia el color de fondo en el hover para editar */
  border-color: #0056b3; /* Cambia el color del borde en el hover para editar */
}


.dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
   color: rgb(0,38,250);
}

.dropdown:hover .dropdown-content {
   display: block;
}

/* AQUI EMPIEZA MI CODIGO */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    color: #333;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.bottom-content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 82, 0);
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-content img {
    width: 100%;
    max-width: 400px; /* Ajusta según sea necesario */
    height: auto;
    margin-bottom: 10px;
}

/* DE AQUI PARA ABAJO VA HERRAMIENTAS */

.orange-container {
    background-color: rgb(255, 82, 0);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    margin: 10px auto; /* Centra el contenedor */
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilos para los cuadrados negros dentro del contenedor naranja */
.black-square {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Estilos para el contenido dentro de los cuadrados negros */
.content {
    display: flex;
    margin-top: 10px;
}

/* Estilos para las imágenes dentro del contenido */
.content img {
    width: 35%; /* Ajusta según sea necesario */
    height: 35%; /* Ajusta según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Estilos para los textos dentro del contenido */
.text {
    display: flex;
    flex-direction: column;
}

/* Centrar solo el título verticalmente */
.text h3 {
    margin: 0; /* Elimina el margen predeterminado del título */
}

/* DE AQUI PARA ARRIBA VA HERRAMIENTAS */

/* DE AQUI PARA ABAJO VA EL QUIENES SOMOS */
footer {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  background-color:rgb(0,38,250);
}
.footer-column {
  width: 30%;
  text-align: left;
}

.footer-column h4 {
  margin-bottom: 8%;
  color: rgb(255,82 ,0 );
 text-align: center;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
 
}

.footer-column li a {
  text-decoration: none;
  color: whitesmoke;
}

.about-us-container {
    background-color: rgb(255, 82, 0);
    padding: 15px; /* Espacio entre el cuadro naranja y el contenido interno */
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-us {
    display: flex;
}

.image-container {
    flex: 1;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.image-container img {
    width: 100%;
    max-width: 100%; /* Ajusta según sea necesario */
    height: auto;
}

.text-container {
    flex: 2;
    text-align: center;
    margin-top: 20px;
}

.text-container h2,
.text-container p {
    margin: 0; /* Elimina el margen predeterminado */
}

/* DE AQUI PARA ARRIBA VA EL QUIENES SOMOS */

/* DE AQUI PARA ABAJO VAN LOS VIDEOS */

.container2 {
    background-color: rgb(255, 82, 0);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.container .videos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .videos iframe {
    width: 45%;
    height: 200px;
}


/* Estilos para el formulario */
form {
    max-width: 100%;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .dropdown img {
    cursor: pointer;
    width: 30px; /* Ajusta el ancho según tus preferencias */
    height: auto; /* Esto mantiene la proporción original de la imagen */
}
  
  .input-group {
    position: relative;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  /* Estilos para el botón */
  .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las etiquetas del checkbox */
  .btn-group-toggle label {
    margin-right: 10px;
  }
  
  /* Estilos para la tabla */
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 0.8%;
    border: 1px solid #dee2e6;
  }
  
  .table th {
    background-color:rgb(0,38,250);
    color: #ffffff;
  }
  
  /* Estilos para el iframe */
  iframe {
    max-width: 100%;
    border: none;
    border-radius: 3%;
    
  }
  
  /* Otros estilos */
  body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1200px; /* Agrega un ancho máximo para limitar el ancho de la cuadrícula */
    margin: 0 auto; /* Centra la cuadrícula */
}

.video-item {
    text-align: justify;
    margin-bottom: 20px; /* Agrega un margen inferior para separar los videos */
}
.home-button{
  margin-right: 20px; /* Ajusta el margen entre el botón home y el dropdown según tus preferencias */
  width: 30px; /* Ancho del botón */
  height: 30px;
}

.btn-subir {
  display:inline-flex;
  padding: 10px 20px; /* Ajusta el espacio interno según tus preferencias */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  text-decoration: none; /* Elimina la decoración de texto predeterminada */
  border-radius: 5px; /* Ajusta el radio de borde para esquinas redondeadas */
  margin-top: 4%; /* Ajusta el margen superior según tus preferencias */
  margin-right: 10;

}

/* Agrega estilos hover para el botón */
.btn-subir:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  /* Puedes agregar más estilos hover según sea necesario */
}
  
