body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el enlace "Subir documentos" */
.container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo celeste */
  color: white; /* Color del texto blanco */
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px; /* Ajusta según sea necesario */
  text-align: center;
  box-sizing: border-box;
}

/* Estilo hover para el enlace "Subir documentos" */
.container a:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  /* Puedes agregar más estilos hover según sea necesario */
}

h1 {
  text-align: center;
  color: #ffffff;
  background-color: rgb(255, 82, 0);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #1f1cdb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3409f5; 
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(0,38,250);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajusta la propiedad z-index según sea necesario para que el encabezado esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra si lo deseas */
 }
 header img {
  width: 100px; /* Tamaño fijo para el logo en el header */
  height: auto; /* Mantener la proporción original */
  max-width: 100%; /* No exceder el 100% del contenedor */
}
.navbar {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-right: 10px; /* Ajusta el margen entre el dropdown y el botón home según tus preferencias */
}

.dropdown-content {
  display: none;
  /* Resto de tus estilos para el dropdown */
}

.text-center{
  display: inline-block;
    background-color: rgb(255,82 ,0 );
    padding: 1% 8%; 
    border-radius: 20px; 
    color: white;    
}
 .menu {
    color: white;
    
 }
 header p {
  color: white; /* Puedes usar cualquier color en formato hexadecimal, RGB, nombre, etc. */
 }
 .table-responsive {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

.table-responsive th {
  background-color: #f0f0f0;
}

 .dropdown span {
   color: white /* Color naranjo */ 
}

.logo a {
    color: rgb(255,82 ,0 ); /* Cambia el color del texto del enlace "Iniciar sesión" a naranja */
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

.logo a:hover {
    text-decoration: none; /* Elimina el subrayado al pasar el ratón sobre el enlace "Iniciar sesión" */
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 
 .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: rgb(0,38,250);
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
 }
 .home-button{
    margin-right: 20px; /* Ajusta el margen entre el botón home y el dropdown según tus preferencias */
    width: 30px; /* Ancho del botón */
    height: 30px;
  }
  
  .btn-subir {
    display:inline-flex;
    padding: 10px 20px; /* Ajusta el espacio interno según tus preferencias */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Elimina la decoración de texto predeterminada */
    border-radius: 5px; /* Ajusta el radio de borde para esquinas redondeadas */
    margin-top: 4%; /* Ajusta el margen superior según tus preferencias */
    margin-right: 10;
  
  }
  
  /* Agrega estilos hover para el botón */
  .btn-subir:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
    /* Puedes agregar más estilos hover según sea necesario */
  }
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: rgb(0,38,250);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;}

  footer {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    background-color:rgb(0,38,250);
    margin-top: auto;
    
  }
  .footer-column {
    width: 30%;
    text-align: left;
  }
  
  .footer-column h4 {
    margin-bottom: 8%;
    color: rgb(255,82 ,0 );
   text-align: center;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
   
  }
  
  .footer-column li a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .about-us-container {
      background-color: rgb(255, 82, 0);
      padding: 15px; /* Espacio entre el cuadro naranja y el contenido interno */
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .about-us {
      display: flex;
  }